body
{
    margin: 0 0;
    overflow: hidden;

}
canvas
{
    width: 1280px;
    height: 720px;
    border: 1px solid black;
    background:url(../medias/images/menu.png);
}
#HUD
{
    position: absolute;
    top: 0px;
    left: 400px;
    font-family: 'neuropol';
}
#play
{
    position: absolute;
    top: 300px;
    left: 190px;
}
#credit
{
    position: absolute;
    top: 400px;
    left: 160px;
}

#logo
{
    position: absolute;
    font-size: 124px;
    top: 100px;
}
.button
{
    font-size: 48px;
}
.button:hover
{
    color : #666699;
}
#male 
{
    position: absolute;
    display: none;
    background: url(../medias/images/mal.png);
    top: 300px;
    left: 30px;
    width: 191px;
    height: 191px;
}
#male:hover
{

}
#female
{
    position: absolute;
    display: none;;
    background: url(../medias/images/fem.png);
    top: 300px;
    left: 290px;
    width: 191px;
    height: 191px;
}
#female:hover
{
    
}
#return
{
    display: none;
    position: absolute;
    top: 600px;
    left: 400px;
}
#menu
{
    display: none;
    position: absolute;
    top: 600px;
    left: 600px;
}
.credit
{
    font-size: 24px;
    width: 800px;
    left: -100px;
    top : -100px;
}
#GC
{
    position: absolute;
    display: none;
    top: 300px;
}
#GD
{
    position: absolute;
    display: none;
    top: 350px;
}
#GA
{
    position: absolute;
    display: none;
    top: 400px;
}
#DEV
{
    position: absolute;
    display: none;
    top: 450px;
}
#SD
{
    position: absolute;
    display: none;
    top: 500px;
}
#color
{
    position: absolute;
    display: none;
    top: 550px;
}
#global
{
    position: absolute;
    background: url(../medias/images/GGJ14_logo.png);
    top: 590px;
    margin-left: -120px;
    width: 124px;
    height: 124px;
    background-size: 100% 100%;
}