body
{
    margin: 0 0;
    overflow: hidden;

}
canvas
{
    width: 1280px;
    height: 720px;
    border: 1px solid black;
}
#HUD
{
    display: none;
    position: absolute;
    top: 0px;
    left: 640px;
    font-family: 'neuropol';
}
#logo
{
    font-size: 124px;
    margin-left: -250px;
    margin-top: 150px;
    margin-bottom: 50px; 
}
.button
{
    font-size: 48px;
    margin-left: -70px;
    margin-bottom : 30px;
}
.button:hover
{
    color : #666699;
}
#male 
{
    display: none;
    width: 65px;
    height: 65px;
    border: 2px solid black;
}
#female
{
    display: none;
    width: 65px;
    height: 65px;
    border: 2px solid black;
}
#return
{
    display: none;
}
